html, body {
width: 100%;
height: 100%;
margin: 0;
}


body {
background: #000;
color: #00ff00;
font-family: monospace;
}


#terminal {
box-sizing: border-box;
width: calc(100% - 10px);
height: calc(100% - 10px);
margin: 5px;
padding: 10px;
overflow-y: auto;
}


#prompt {
display: flex;
}


#command {
background: transparent;
border: none;
outline: none;
color: inherit;
font-family: inherit;
width: 100%;
}


a {
color: #4fdfff;
text-decoration: underline;
}


pre {
white-space: pre-wrap;
}